<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p>15856</p>
        <p>1409600130803</p>
        <p>11055</p>
        <p>3101400386245</p>
        
        {% if not form.is_valid %}
            <form method='post' action="{% url 'index' %}">
                {% csrf_token %}
                <p>Enter your Employee ID</p>
                <small>Please enter your employee ID.</small><br>
                <input type="text" name="employee_id" placeholder="">
                <p>Enter your Personal ID card number</p>
                <small>Please enter your 13-digit ID Card number.</small><br>
                <input type="number" name="personal_id" placeholder=""><br>

                <button class="btn" type="submit">ENTER</button>
            </form>
        {% endif %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>